@model Proyecto.AgregarGeneroViewModel

<h2>Agregar Nuevo Género</h2>

<form asp-action="AgregarGenero" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="NombreGenero">Nombre del Género</label>
        <input asp-for="NombreGenero" class="form-control" required />
        <span asp-validation-for="NombreGenero" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Foto">Imagen del Género</label>
        <input type="file" asp-for="Foto" class="form-control-file" />
        <span asp-validation-for="Foto" class="text-danger"></span>
    </div>
    
    <button type="submit" class="btn btn-primary">Agregar Género</button>
</form>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
