@page
@{
    ViewBag.Title = "Contacto";
}

<p>Para cualquier consulta o sugerencia, por favor comuníquese con nosotros a través de nuestro correo electrónico: ejemplo@gmail.com</p>
<ul>Contribuidores: 
    <li><a href="https://github.com/JosuGuzman">JosuGuzman</a></li>
    <li><a href="https://github.com/ChengLeonardo">ChengLeonardo</a></li>
    
</ul>
