@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <form asp-controller="Home" asp-action="Logout" method="post">
      @Html.AntiForgeryToken()
      <button type="submit">Logout</button>
    </form>
</div>
