@model Proyecto.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
}
@section Styles {
    <link rel="stylesheet" href="~/css/StyleLogin.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
}

<body>
    <div class="wrapper">
        <form asp-action="Login" asp-controller="Home" method="post">
            <h1>Login</h1>
            @Html.ValidationSummary(true)
            <div class="input-box">
                <input asp-for="Usuario" type="text" placeholder="Username" required>
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <input asp-for="Pass" type="password" placeholder="Password" required id="password">
                <i class='bx bxs-lock-alt' id="togglePassword"></i>
            </div>
            <button type="submit" class="btn">Login</button>
            <div class="register-link">
                <p>¿No tienes una cuenta? <a asp-action="Register" asp-controller="Home">Regístrate</a></p>
            </div>
        </form>
    </div>
    <script src="~/js/ScriptLogin.js"></script>
</body>

