@model Proyecto.Models.ModificarLibroViewModel;
<p>ModificarLibro</p>
@{
    var fotoPath = "/images/" + (Model.RutaFoto ?? "DefaultTapaLibro.jpg");
}
<form asp-action="ModificarLibro" enctype="multipart/form-data" method="post">
    <input type="hidden" asp-for="RutaFoto">
    <input type="hidden" asp-for="IdLibro">
    
    <div>
        <label for="IdEditorial">Editorial</label>
        <select asp-for="IdEditorial" asp-items="@(new SelectList(Model.Editoriales, "IdEditorial", "editorial"))">
            <option value="">Seleccione una editorial</option>
        </select>
        <span asp-validation-for="IdEditorial" class="text-danger"></span>
    </div>

    <div>
        <label for="Titulo">Nombre Título</label>
        <input asp-for="Titulo" />
        <span asp-validation-for="Titulo" class="text-danger"></span>
    </div>

    <div>
        <label for="ISBN">ISBN</label>
        <input asp-for="ISBN" />
        <span asp-validation-for="ISBN" class="text-danger"></span>
    </div>

    <div>
        <label for="FechaAgregada">Fecha Agregada</label>
        <input asp-for="FechaAgregada" type="date" />
        <span asp-validation-for="FechaAgregada" class="text-danger"></span>
    </div>

    <div>
        <label for="Calificacion">Calificación</label>
        <input asp-for="Calificacion" type="number" step="0.1" />
        <span asp-validation-for="Calificacion" class="text-danger"></span>
    </div>

    <div>
        <label>Géneros</label>
        @foreach (var genero in Model.Generos)
        {
            if(genero.Eliminado)
            {
                continue;
            }
            <div>
                <input type="checkbox" 
                       name="GenerosSeleccionados" 
                       value="@genero.IdGenero" 
                       @(Model.GenerosSeleccionados.Contains(genero.IdGenero) ? "checked" : "") />
                <label>@genero.genero</label>
            </div>
        }
        <span asp-validation-for="GenerosSeleccionados" class="text-danger"></span>
    </div>

    <div class="h-3/5 w-72 m-2 bg-gris flex justify-center items-center">
        <label for="Foto">Foto</label>
        <input asp-for="Foto" type="file"/>
        <img class="h-full w-full rounded-full flex justify-center items-center" src=@fotoPath asp-append-version/>
    </div>

    <button type="submit">Confirmar</button>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
