@model Proyecto.Models.RegisterViewModel

<form asp-action="Register" asp-controller="Home" method="post">
    <div class="w-4/5 relative">
        <label for="NombreUsuario">Nombre de Usuario</label>
        <input asp-for="Usuario" id="NombreUsuario" class="pl-12 text-black w-full h-12 rounded-full bg-white outline-none" type="text" required>
        <span asp-validation-for="Usuario" class="text-danger"></span>
    </div>
    <div class="w-4/5 relative">
        <label for="Password">Contraseña</label>
        <input asp-for="Pass" id="Password" class="pl-12 text-black w-full h-12 rounded-full bg-white outline-none" type="password" required>
        <span asp-validation-for="Pass" class="text-danger"></span>
    </div>
        <div class="w-4/5 relative">
        <label for="Apellido">Email</label>
        <input asp-for="Email" id="Email" class="pl-12 text-black w-full h-12 rounded-full bg-white outline-none" type="email" required>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="w-4/5 relative">
        <label for="TipoUsuario">Tipo de Usuario</label>
        <select asp-for="TipoUsuario">
            <option value=@TipoUsuario.Socio>Socio</option>
            <option value=@TipoUsuario.Operador>Operador</option>
        </select>
        <span asp-validation-for="TipoUsuario" class="text-danger"></span>
    </div>
    <div id="codigoOperadorDiv" class="w-4/5 relative" style="display: none;">
        <label for="CodigoOperador">Código del Operador</label>
        <input asp-for="CodigoOperador" id="CodigoOperador" class="pl-12 text-black w-full h-12 rounded-full bg-white outline-none" type="text">
        <span asp-validation-for="CodigoOperador" class="text-danger"></span>
    </div>
    <button type="submit" class="w-4/5 h-12 rounded-full bg-blue-500 text-white font-bold">Registrar</button>
    <a asp-action="Login" asp-controller="Home" class="w-4/5 h-12 rounded-full bg-gray-300 text-black font-bold flex items-center justify-center mt-4">Iniciar Sesión</a>
</form>

