@use postcss-color-function;
@use postcss-nested;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

/* Estilos generales para todos los elementos */
*{
    margin: 0; /* Elimina el margen */
    padding: 0; /* Elimina el relleno */
    box-sizing: border-box; /* Define como se calcula el ancho y alto de un elemento */
    text-decoration: none; /* Elimina la decoración del texto */
}

/* Estilos específicos para el cuerpo */
body{
    font-family: 'Poppins', sans-serif; /* Establece la fuente */
    min-height: 100vh; /* Establece la altura mínima */
    background-color: #ff0000; /* Establece el color de fondo */
}

/* Estilos para el encabezado */
/*Heaader*/
header{
    position: fixed; /* Posición fija */
    top: 0; /* Arriba */
    left: 0; /* Izquierda */
    width: 100%; /* Ancho del 100% */
    padding: 20px 8%; /* Relleno */
    display: flex; /* Muestra los elementos como un contenedor flexible */
    justify-content: space-between; /* Justifica el contenido entre los elementos */
    align-items: center; /* Alinea los elementos verticalmente */
}

/* Estilos para el logotipo */
.logo{
    font-weight: 700; /* Peso de la fuente */
    font-size: 1.8rem; /* Tamaño de la fuente */
}

/* Estilos para la lista de navegación */
.navList{
    position: relative; /* Posición relativa */
    display: flex; /* Muestra los elementos como un contenedor flexible */
}

/* Estilos para los elementos de la lista de navegación */
.navList li{
    list-style: none; /* Elimina el estilo de lista */
    margin-left: 2rem; /* Margen izquierdo */
}

/* Estilos para los enlaces de la lista de navegación */
.navList li a{
    display: flex; /* Muestra los elementos como un contenedor flexible */
    color: #ffff; /* Color del texto */
    position: relative; /* Posición relativa */
    text-transform: uppercase; /* Transforma el texto a mayúsculas */
    font-weight: 500; /* Peso de la fuente */
    text-shadow: rgb(255, 0, 255) 1px 0px 10px; /* Sombra de texto */
}

/* Estilos para los spans de los enlaces de la lista de navegación */
.navList li a span{
    position: relative; /* Posición relativa */
    transition: .5s; /* Transición */
    overflow: hidden; /* Oculta el contenido sobrante */
    -webkit-transition: .5s; /* Transición para Chrome y Safari */
    -moz-transition: .5s; /* Transición para Firefox */
    -ms-transition: .5s; /* Transición para Internet Explorer y Edge */
    -o-transition: .5s; /* Transición para Opera */
}

/* Estilos para el texto "up" de los spans de los enlaces de la lista de navegación */
.navList li a span .up{
    display: inline-flex; /* Muestra los elementos como un contenedor flexible en línea */
}

/* Estilos para el texto "up" al pasar el mouse sobre los enlaces de la lista de navegación */
.navList li a:hover span .up{
    transform: translateY(100%); /* Mueve el elemento hacia abajo */
    -webkit-transform: translateY(100%); /* Mueve el elemento hacia abajo para Chrome y Safari */
    -moz-transform: translateY(100%); /* Mueve el elemento hacia abajo para Firefox */
    -ms-transform: translateY(100%); /* Mueve el elemento hacia abajo para Internet Explorer y Edge */
    -o-transform: translateY(100%); /* Mueve el elemento hacia abajo para Opera */
}

/* Estilos para el texto "down" de los spans de los enlaces de la lista de navegación */
.navList li a span .down{
    position: absolute; /* Posición absoluta */
    color: #f4a1ff; /* Color del texto */
    text-shadow: rgb(255, 0, 255) 1px 0px 10px; /* Sombra de texto */
    left: 0; /* Izquierda */
    transform: translateY(-100%); /* Mueve el elemento hacia arriba */
    -webkit-transform: translateY(-100%); /* Mueve el elemento hacia arriba para Chrome y Safari */
    -moz-transform: translateY(-100%); /* Mueve el elemento hacia arriba para Firefox */
    -ms-transform: translateY(-100%); /* Mueve el elemento hacia arriba para Internet Explorer y Edge */
    -o-transform: translateY(-100%); /* Mueve el elemento hacia arriba para Opera */
}

/* Estilos para el texto "down" al pasar el mouse sobre los enlaces de la lista de navegación */
.navList li a:hover span .down{
    transform: translateY(0); /* Mueve el elemento a su posición original */
    -webkit-transform: translateY(0); /* Mueve el elemento a su posición original para Chrome y Safari */
    -moz-transform: translateY(0); /* Mueve el elemento a su posición original para Firefox */
    -ms-transform: translateY(0); /* Mueve el elemento a su posición original para Internet Explorer y Edge */
    -o-transform: translateY(0); /* Mueve el elemento a su posición original para Opera */
}

/* Estilos para el icono del menú */
.menuIcon{
    position: relative; /* Posición relativa */
    display: none; /* Oculta el elemento */
    width: 30px; /* Ancho */
    height: 30px; /* Alto */
    cursor: pointer; /* Cambia el cursor a una mano */
}

/* Estilos para las barras del icono del menú */
.menuIcon .bar, 
.menuIcon::after,
.menuIcon::before{
    content: ""; /* Contenido */
    display: block; /* Muestra el elemento como un bloque */
    width: 100%; /* Ancho del 100% */
    height: 4px; /* Alto */
    border-radius: 3px; /* Radio de esquina */
    background-color: #ffff; /* Color de fondo */
    margin: 4px 0; /* Margen */
    transition: .4s; /* Transición */
    -webkit-border-radius: 3px; /* Radio de esquina para Chrome y Safari */
    -moz-border-radius: 3px; /* Radio de esquina para Firefox */
    -ms-border-radius: 3px; /* Radio de esquina para Internet Explorer y Edge */
    -o-border-radius: 3px; /* Radio de esquina para Opera */
    -webkit-transition: .4s; /* Transición para Chrome y Safari */
    -moz-transition: .4s; /* Transición para Firefox */
    -ms-transition: .4s; /* Transición para Internet Explorer y Edge */
    -o-transition: .4s; /* Transición para Opera */
}

/* Estilos para el icono del menú activo */
.menuIcon.active::before{
    transform: rotate(-45deg) translate(-6px, 5px); /* Rota y mueve el elemento */
    -webkit-transform: rotate(-45deg) translate(-6px, 5px); /* Rota y mueve el elemento para Chrome y Safari */
    -moz-transform: rotate(-45deg) translate(-6px, 5px); /* Rota y mueve el elemento para Firefox */
    -ms-transform: rotate(-45deg) translate(-6px, 5px); /* Rota y mueve el elemento para Internet Explorer y Edge */
    -o-transform: rotate(-45deg) translate(-6px, 5px); /* Rota y mueve el elemento para Opera */
}

.menuIcon.active::after{
    transform: rotate(45deg) translate(-6px, -6px); /* Rota y mueve el elemento */
    -webkit-transform: rotate(45deg) translate(-6px, -6px); /* Rota y mueve el elemento para Chrome y Safari */
    -moz-transform: rotate(45deg) translate(-6px, -6px); /* Rota y mueve el elemento para Firefox */
    -ms-transform: rotate(45deg) translate(-6px, -6px); /* Rota y mueve el elemento para Internet Explorer y Edge */
    -o-transform: rotate(45deg) translate(-6px, -6px); /* Rota y mueve el elemento para Opera */
}

.menuIcon.active .bar{
    opacity: 0; /* Hace el elemento transparente */
}

/* Estilos para pantallas de hasta 992px de ancho */
@media (max-width: 992px){
    header{
        padding: 20px 4%; /* Ajusta el relleno */
    }
}

/* Estilos para pantallas de hasta 768px de ancho */
@media (max-width: 768px){
    
    .menuIcon{
        display: block; /* Muestra el elemento */
    }

    header{
        background: rgba(0, 0, 0, 0.5); /* Ajusta el color de fondo */
    }

    .navList{
        position: absolute; /* Posición absoluta */
        top: 100%; /* Abajo */
        left: 0; /* Izquierda */
        display: none; /* Oculta el elemento */
        height: 0rem; /* Alto */
        width: 100%; /* Ancho del 100% */
        background: rgba(0, 0, 0, 0.5); /* Color de fondo */
        transition: .3s; /* Transición */
        overflow: hidden; /* Oculta el contenido sobrante */
        -webkit-transition: .3s; /* Transición para Chrome y Safari */
        -moz-transition: .3s; /* Transición para Firefox */
        -ms-transition: .3s; /* Transición para Internet Explorer y Edge */
        -o-transition: .3s; /* Transición para Opera */
    }

    .navList li a{
        display: block; /* Muestra los elementos como un bloque */
        text-align: center; /* Alinea el texto al centro */
        margin: 1.5rem 0; /* Margen */
        overflow: hidden; /* Oculta el contenido sobrante */
    }

    .navList li{
        margin: 0; /* Elimina el margen */
    }

    .navList.activeMenu{
        height: 17rem; /* Alto */
        display: block; /* Muestra el elemento */
    }

}

/* Estilos para el contenido principal */
main{
    width: min(1200px, 90vw); /* Ancho */
    margin: auto; /* Margen automático */
}

/* Estilos para el carrusel */
.slider{
    width: 100%; /* Ancho del 100% */
    height: var(--height); /* Alto variable */
    overflow: hidden; /* Oculta el contenido sobrante */
    margin-top: 100px; /* Margen superior */
    mask-image: linear-gradient(
        to right,
        transparent,
        #000 10% 90%,
        transparent
    ); /* Imagen de máscara */
}

.slider .list{
    display: flex; /* Muestra los elementos como un contenedor flexible */
    width: 100%; /* Ancho del 100% */
    min-width: calc(var(--width) * var(--quantity)); /* Ancho mínimo */
    position: relative; /* Posición relativa */
}

.slider .list .item{
    width: var(--width); /* Ancho variable */
    height: var(--height); /* Alto variable */
    position: absolute; /* Posición absoluta */
    left: 100%; /* A la derecha */
    animation: autoRun 10s linear infinite; /* Animación */
    transition: filter 0.5s; /* Transición */
    animation-delay: calc( (10s / var(--quantity)) * (var(--position) - 1) - 10s)!important; /* Retraso de la animación */
    -webkit-animation: autoRun 10s linear infinite; /* Animación para Chrome y Safari */
    -webkit-transition: filter 0.5s; /* Transición para Chrome y Safari */
    -moz-transition: filter 0.5s; /* Transición para Firefox */
    -ms-transition: filter 0.5s; /* Transición para Internet Explorer y Edge */
    -o-transition: filter 0.5s; /* Transición para Opera */
}

.slider .list .item img{
    width: 100%; /* Ancho del 100% */
    height: auto; /* Alto automático */
    display: block; /* Muestra el elemento como un bloque */
}

@keyframes autoRun{
    from{
        left: 100%; /* A la derecha */
    }to{
        left: calc(var(--width) * -1); /* A la izquierda */
    }
}

.slider:hover .item{
    animation-play-state: paused!important; /* Detiene la animación */
    filter: grayscale(1); /* Aplica un filtro de escala de grises */
}

.slider .item:hover{
    filter: grayscale(0); /* Elimina el filtro de escala de grises */
}

.slider[reverse="true"] .item{
    animation: reversePlay 10s linear infinite; /* Animación inversa */
}

@keyframes reversePlay{
    from{
        left: calc(var(--width) * -1); /* A la izquierda */
    }to{
        left: 100%; /* A la derecha */
    }
}

/*== Barra de búsqueda ==*/
.search {
    &__container {
        padding-top: 64px;
    }
    
    &__title {
        font-size: 22px;
        font-weight: 900;
        text-align: center;
        color: #ff8b88;
    }
    
    &__input {
        width: 100%;
        padding: 12px 24px;

        background-color: transparent;
        transition: transform 250ms ease-in-out;
        font-size: 14px;
        line-height: 18px;
        
        color: #575756;
        background-color: transparent;
/*         background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */

    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 18px 18px;
        background-position: 95% center;
        border-radius: 50px;
        border: 1px solid #575756;
        transition: all 250ms ease-in-out;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        
        &::placeholder {
            color: color(#575756 a(0.8));
            text-transform: uppercase;
            letter-spacing: 1.5px;
        }
        
        &:hover,
        &:focus {
            padding: 12px 0;
            outline: 0;
            border: 1px solid transparent;
            border-bottom: 1px solid #575756;
            border-radius: 0;
            background-position: 100% center;
        }
    }
}

.credits {
    &__container {
        margin-top: 24px;
    }
    
    &__text {
        text-align: center;
        font-size: 13px;
        line-height: 18px;
    }
    
    &__link {
        color: #ff8b88;
        text-decoration: none;
        transition: color 250ms ease-in;
        
        &:hover,
        &:focus {
            color: color(#ff8b88 blackness(+25%));
        }
    }
}